---
---

@import "{{ site.theme }}";

body {
  background-color: #fbfbfb;
}

.page-header {
  background: #fbfbfb url("/assets/images/banner2.jpg") no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #E5E5E5;
}
