---
---

@import "{{ site.theme }}";

body {
  background-color: #fbfbfb;
}

.page-header {
  background: #fbfbfb url("/assets/images/banner4.png") no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #E5E5E5;
}

.page-header h1 {
  padding-bottom: 2em;
}
